@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}


[wm-flappy] {
    position: relative;
    width: 1200px;
    height: 700px;
    margin: 15px;
    background: linear-gradient(to bottom, #1e528e 0%,#265889 50%,#001738 100%);
    overflow: hidden;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #007f04, #2ee856);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #007f04, #2ee856);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Pixel';
    font-size: 70px;
    z-index: 100;
}

p {
    margin-top: 1px;
    margin-bottom: 5px;
}

h1 {
    margin-top: 2px;
    margin-bottom: 5px;
}